#produtos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

#produtos div {
 margin: 10px;
}

#contato{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background: linear-gradient(pink,red,purple);
    padding: 100px;
}
#contato form{
width: 500px;
color:black;
}
.form-text{
    color: blueviolet;
}

nav{
    z-index:100;
    background-color:linear-gradient(pink,red,purple) ;
    position:fixed;
    top:0;
}
#planos{
    display:flex;
    justify-content:center;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}
#planos div{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin:10px;
}
#carouselExampleCaptions{
    background: linear-gradient(pink,red,purple);
    border-radius: 16px;
}
#sobre{
    width: 100%;
    display: flex;
    justify-content: center;
}
#rodape-text{
    text-decoration: none;
    color:white;
    margin-left: 10px;
}
#rodape{
    height: 100px;
    margin-top: 100px;
    color: white;
    background: linear-gradient(pink,red,purple);
    display: flex;
    justify-content: center;
    align-items: center;
}
#text-produtos{
    margin-top: 100px;
    text-align: center;
}
.roboto{
    font-family: 'roboto', sans-serif;
}
.btn-success{
    background-color: black;
}
.titulo-plano{
    font-style: italic;
    font-size: 34px;
}
.titulo-plano-red{
    background-image: linear-gradient(to right,pink 10%,red 30%);
    -webkit-background-clip: text;
    color: transparent;
}
.titulo-plano-green{
    background-image: linear-gradient(pink,purple 10%,red);
    -webkit-background-clip: text;
    color: transparent;
}
.titulo-plano-blue{
    background-image: linear-gradient(to right, pink 50%,red);
    -webkit-background-clip: text;
    color: transparent;
}